<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Ubuntu&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">

  <script src="https://kit.fontawesome.com/d14688c56a.js" crossorigin="anonymous"></script>

    <!-- Bootstrap css link should go before ur own css link  -->
  <script type="text/javascript" src="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js">

</script>
<link rel="stylesheet" href="css/styles.css">
<script src="https://kit.fontawesome.com/d14688c56a.js" crossorigin="anonymous"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">


</head>
<body>
    <section>
        <div class="container-fluid">
            <!-- Nav Bar -->
 <nav class="navbar navbar-expand-lg navbar-dark " style="background-color:black; position: fixed; width: 100%; z-index: 1;" > <!--  bg-secondary is being removed -->
     <a class="navbar-brand" href="#pricing" style="font-size:2rem;">SVAADYAAYA</a>
     <i class="fa-solid fa-fire fa-2x" style="color: white"></i>
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav ms-auto">
       <!-- for dropdown -->
         <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Check this</a>
             <ul class="dropdown-menu">
                 <li><a class="dropdown-item" href="#">Action</a></li>
                 <li><hr class="dropdown-divider"></li>
                 <li><a class="dropdown-item" href="#">Another action</a></li>
                 <li><hr class="dropdown-divider"></li>
                 <li><a class="dropdown-item" href="#">Something else here</a></li>
             </ul>
         </li>
 
         <li class="nav-item">
             <a class="nav-link" href="#footer">Contact</a>
 
         </li>
         <li class="nav-item">
             <a class="nav-link" href="#testimonials">Home</a>
         </li>
         <li>
             <a class="nav-link" href="#pricing">Pricing</a>
         </li>
     </ul>
     </div>
 
 </nav>
     </div>
    </section>
    <section id="pricing" class="padding: 100px;">

        <div style="text-align:center; margin-bottom:50px;">
        <h2>Events Available</h2>
        <p> Lets Explore!!! </p>
        </div>
    
    <div class="row card-deck" style="text-align:center; margin-top:100px;">
    
    <div class="col-lg-4 col-md-6 pr-col">
      <div class="card">
        <div class="card-header">
          <h3>Hackathon</h3>
        </div>
    
        <div class="card-body">
          <!-- <h2>Free</h2>
          <p>5 Matches Per Day</p>
          <p>10 Messages Per Day</p>
          <p>Unlimited App Usage</p> -->
          <!-- <i class="fa-solid fa-chart-line-up"></i> -->
          <!--<img src="C:\python_vs\static\assets\perf.jpeg" alt=""> <br> <br>-->
          <img src="static\assets\hack.png" alt=""> <br> <br>
          <button type="button" class="btn btn-primary pr-btn"><a href="/book" style="color: white;">Register</a></button>
        </div>
      </div>
    </div>
    
    <div class="col-lg-4 col-md-6 pr-col" >
      <div class="card">
        <div class="card-header">
          <h3>Coding Contest</h3>
        </div>
        <div class="card-body">
          <!-- <h2>$49 / mo</h2> -->
          <!-- <p>Unlimited Matches</p>
          <p>Unlimited Messages</p>
          <p>Unlimited App Usage</p> -->
          <img src="static\assets\code.jpg" alt=""><br><br>
          <button type="button" class="btn btn-primary pr-btn"><a href="/book" style="color: white;">Register</a></button>
        </div>
      </div>
    </div>
    
    <div class="col-lg-4 col-md-12 pr-col" >
      <div class="card">
        <div class="card-header">
          <h3>Sports</h3>
        </div>
        <div class="card-body">
          <!-- <h2>$99 / mo</h2>
          <p>Pirority Listing</p>
          <p>Unlimited Matches</p>
          <p>Unlimited Messages</p>
          <p>Unlimited App Usage</p> -->
          <img src="static\assets\sport.jpg" alt=""> <br> <br>
          <button type="button" class="btn btn-primary pr-btn"><a href="/book" style="color: white;">Register</a></button>
        </div>
      </div>
    </div>
    </div>

    
    <div class="row card-deck" style="text-align:center; margin-top:100px;">
    
    <div class="col-lg-4 col-md-6 pr-col">
      <div class="card">
        <div class="card-header">
          <h3>Cultural</h3>
        </div>
    
        <div class="card-body">
          <!-- <h2>Free</h2>
          <p>5 Matches Per Day</p>
          <p>10 Messages Per Day</p>
          <p>Unlimited App Usage</p> -->
          <!-- <i class="fa-solid fa-chart-line-up"></i> -->
          <!--<img src="C:\python_vs\static\assets\perf.jpeg" alt=""> <br> <br>-->
          <img src="static\assets\cul.jpeg" alt=""> <br> <br>
          <button type="button" class="btn btn-primary pr-btn"><a href="/book" style="color: white;">Register</a></button>
        </div>
      </div>
    </div>
    
    <div class="col-lg-4 col-md-6 pr-col" >
      <div class="card">
        <div class="card-header">
          <h3>Educational</h3>
        </div>
        <div class="card-body">
          <!-- <h2>$49 / mo</h2> -->
          <!-- <p>Unlimited Matches</p>
          <p>Unlimited Messages</p>
          <p>Unlimited App Usage</p> -->
          <img src="static\assets\edu.jpg" alt=""><br><br>
          <button type="button" class="btn btn-primary pr-btn"><a href="/book" style="color: white;">Register</a></button>
        </div>
      </div>
    </div>
    
    <div class="col-lg-4 col-md-12 pr-col" >
      <div class="card">
        <div class="card-header">
          <h3>Tedx Talk</h3>
        </div>
        <div class="card-body">
          <!-- <h2>$99 / mo</h2>
          <p>Pirority Listing</p>
          <p>Unlimited Matches</p>
          <p>Unlimited Messages</p>
          <p>Unlimited App Usage</p> -->
          <img src="static\assets\ted.png" alt=""> <br> <br>
          <button type="button" class="btn btn-primary pr-btn"><a href="/book" style="color: white;">Register</a></button>
        </div>
      </div>
    </div>
    </div>
      </section>
</body>
</html>