<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Ubuntu&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">

    <title>Document</title>
    <script src="https://kit.fontawesome.com/d14688c56a.js" crossorigin="anonymous"></script>

    <!-- Bootstrap css link should go before ur own css link  -->
  <script type="text/javascript" src="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js">

</script>
<link rel="stylesheet" href="css/styles.css">
<script src="https://kit.fontawesome.com/d14688c56a.js" crossorigin="anonymous"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    <section style="font-family: 'Roboto', sans-serif;">
        <div class="container-fluid">
               <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark " style="background-color:black; position: fixed; width: 100%;" > <!--  bg-secondary is being removed -->
        <img src="\static\assets\diya_blue.png" alt="" width="75px" height="75px">
        <a class="navbar-brand" href="#pricing" style="font-size:2rem;">SVAADHYAAYA</a>
        <!-- <i class="fa-solid fa-fire fa-2x" style="color: white"></i> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <!-- for dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Check this</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </li>
    
            <li class="nav-item">
                <a class="nav-link" href="#footer">Contact</a>
    
            </li>
            <li class="nav-item">
                <a class="nav-link" href="home.html">Home</a>
            </li>
            <li>
                <a class="nav-link" href="#pricing">Features</a>
            </li>
        </ul>
        </div>
    
    </nav>
        </div>

    <div>
        <h1 style="text-align: center; position: absolute;
        top: 50%;
        left: 50%;
        font-size: 75px;
        transform: translate(-50%, -50%); color: azure;"><b>SVAADHYAAYA </b> </h1> 
        <h3 style="text-align: center; position: absolute;
        top: 60%;
        left: 50%;
        font-size: 50px;
        transform: translate(-50%, -50%); color: azure; "><b>Classroom 2.0 </b></h3>
        <video id="007248bd-2b1b-0e7e-618a-371d2071f181-video" autoplay="" loop="" width = "100%" style="background-image:url(/static/assets/back.jpeg)" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover"><source src="https://assets-global.website-files.com/621d30e84caf0be3291dbf1c/62dffbc92889d004e6b8c460_AF200M Hi-transcode.mp4" data-wf-ignore="true"><source src="https://assets-global.website-files.com/621d30e84caf0be3291dbf1c/62dffbc92889d004e6b8c460_AF200M Hi-transcode.webm" data-wf-ignore="true"></video>
    </div>
    </section>

    <section id="pricing" class="padding: 100px;">

        <div style="text-align:center; margin-bottom:50px;">
        <h2>Features Offered</h2>
        <p>Simple and efficient for all </p>
        </div>
    
    <div class="row card-deck" style="text-align:center; margin-top:100px;">
    
    <div class="col-lg-4 col-md-6 pr-col">
      <div class="card">
        <div class="card-header">
          <h3>Performance Prediction</h3>
        </div>
    
        <div class="card-body">
          <!-- <h2>Free</h2>
          <p>5 Matches Per Day</p>
          <p>10 Messages Per Day</p>
          <p>Unlimited App Usage</p> -->
          <!-- <i class="fa-solid fa-chart-line-up"></i> -->
          <!--<img src="C:\python_vs\static\assets\perf.jpeg" alt=""> <br> <br>-->
          <img src="static\assets\perf.jpeg" alt=""> <br> <br>
          <button type="button" class="btn btn-primary pr-btn">Check Demo</button>
        </div>
      </div>
    </div>
    
    <div class="col-lg-4 col-md-6 pr-col" >
      <div class="card">
        <div class="card-header">
          <h3>Event Management</h3>
        </div>
        <div class="card-body">
          <!-- <h2>$49 / mo</h2> -->
          <!-- <p>Unlimited Matches</p>
          <p>Unlimited Messages</p>
          <p>Unlimited App Usage</p> -->
          <img src="static\assets\event.jpeg" alt=""><br><br>
          <button type="button" class="btn btn-primary pr-btn"><a href="/register" style="color:white ;">Sign Up</a></button>
        </div>
      </div>
    </div>
    
    <div class="col-lg-4 col-md-12 pr-col" >
      <div class="card">
        <div class="card-header">
          <h3>Aid for Specially Abled</h3>
        </div>
        <div class="card-body">
          <!-- <h2>$99 / mo</h2>
          <p>Pirority Listing</p>
          <p>Unlimited Matches</p>
          <p>Unlimited Messages</p>
          <p>Unlimited App Usage</p> -->
          <img src="static\assets\dis.jpeg" alt=""> <br> <br>
          <button type="button" class="btn btn-primary pr-btn" ><a href="/video2" style ="color: white;">Check Demo</a></button>
        </div>
      </div>
    </div>
    </div>
      </section>
    




    
</body>
</html>